<% extend 'admin/page_admin.ect' %>
<% selectedHere = (role,str) -> %>
	<% if role? : %>
		<% if role == str : %>
			selected
		<% end %>
	<% end %>
<% end %>
<div class="modal-overlay closed" id="modal-overlay">
    <div class="modal closed" id="modal">
        <div class = "cardDelete">
            <div class="card__title">
                <h4>
                    <%= @lang.delete %>?                
                </h4>
            </div>
            <div class="card__bodyAdd">            
                <form action="removeDeal" method="post">
                    <INPUT type="hidden" name="id" value="<%- @data.id %>">
                    <button type="submit" class="btn-remove delete"><%= @lang.yes %></button>
                </form>
                <button class="btn-cancel" id="close-button"><%= @lang.no %></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class = "cardAdd">
        <div class="card__title">
            <h4>
                <% if @data?.id || @data.id >= 0: %>
                    <%= @lang.editDeal %> #<%- @data.id %>  
                </h4>      
                    <% if @datauser.role == "admin": %>
                        <button id="open-button" class="btn-remove"><%= @lang.delete %></button>
                    <% else : %>
                         <button type="button" class="btn-remove-not" disabled title="<%- @lang.notRules %>"><%= @lang.delete %></button>
                    <% end %>
                <% else : %>
                    <%= @lang.createDeal %>
                </h4>
                <% end %>
            </h4>
        </div>
        <div class="card__bodyAdd">
            <form action="saveDeal" method="post" onsubmit="return checkdeals('<%- @langName %>')" class="form-validate">
                <% if @data?.id || @data.id >= 0: %>
                    <input type="hidden" name="id" id="id" value="<%- @data.id %>">
                <% end %>          
                <div class="form-group">
                    <label class="required" for="user_id"><%= @lang.user %></label>
                    <select class="form-control" name="user_id" id="user_id">
                        <% if @user : %>
                            <option <%- selectedHere @data.user_id, @user.id  %> value="<%- @user.id %>"><%- @user.firstname %></option>			
                        <% else : %>
                            <% if @users?.length : %>
                                <% for objects in @users : %>
                                    <option <%- selectedHere @data.user_id, objects.id  %> value="<%- objects.id %>"><%- objects.firstname %></option>
                                <% end %>				
                            <% else : %>
                                <option value="-1"><%= @lang.noUsers %></option>
                            <% end %>                            
                        <% end %>	
                    </select>
                </div>                
                <div class="form-group">
                    <label class="required" for="product_id"><%= @lang.product %></label>
                    <select class="form-control" name="product_id" id="product_id">
                        <% if @products?.length : %>
                            <% for objects in @products : %>
                                <option <%- selectedHere @data.product_id, objects.id  %> value="<%- objects.id %>"><%- objects.name %></option>
                            <% end %>				
                        <% else : %>
                            <option value="-1"><%= @lang.noProducts %></option>
                        <% end %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="datebuy"><%= @lang.date %></label>
                    <input type="date" id="datebuy" name="datebuy" class="form-control" value="<%- @data.datebuy %>">
                </div>      
                <button type="button" class="btn-cancel" onclick="window.location='/admin';"><%= @lang.back %></button>
                <button type="submit" class="btn-done"><%= @lang.ok %></button>
            </form>
        </div>
    </div>
</div>