<% extend 'admin/page_admin.ect' %>
<div class="modal-overlay closed" id="modal-overlay">
    <div class="modal closed" id="modal">
        <div class = "cardDelete">
            <div class="card__title">
                <h4>
                    <%= @lang.delete %>?                
                </h4>
            </div>
            <div class="card__bodyAdd">            
                <form action="removeRole" method="post">
                    <INPUT type="hidden" name="id" value="<%- @data.id %>">
                    <button type="submit" class="btn-remove delete"><%= @lang.yes %></button>
                </form>
                <button class="btn-cancel" id="close-button"><%= @lang.no %></button>
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class = "cardAdd">
        <div class = "card__title">
            <h4>
                <% if @data?.id || @data.id >= 0: %>
                    <%= @lang.editRole %> #<%- @data.id %>  
                </h4>                
                    <% if @data.cu <=0: %>   
                        <button id="open-button" class="btn-remove"><%= @lang.delete %></button>
                    <% else : %>
                        <button type="button" class="btn-remove-not" disabled title="<%- @lang.noDeleteRole %>"><%= @lang.delete %></button>                    
                    <% end %>
                <% else : %>
                    <%= @lang.createRole %>
                </h4>
                <% end %>
            </h4>
        </div>
        <div class="card__bodyAdd">
            <form action="saveRole" method="post" onsubmit="return checkroles('<%- @langName %>')" class = "form-validate">
                <% if @data?.id || @data.id >= 0: %>
                    <input type="hidden" name="id" id="id" value="<%- @data.id %>">
                <% end %>
                <div class="form-group">
                    <label class="required" for="name"><%= @lang.nameRole %></label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="<%- @lang.inputName %>" value="<%- @data.name %>" >
                </div>
                <button type="button" class="btn-cancel" onclick="window.location='/admin/roles';"><%= @lang.back %></button>
                <button type="submit" class="btn-done"><%= @lang.ok %></button>
            </form>
        </div>
    </div>
</div>