<% extend 'admin/page_admin.ect' %>
<div class="row">
    <div class = "card">
        <div class="card__title">
            <h4>
                <%= @lang.products %>
            </h4>
            <% if @datauser.role == 'manager' : %>                   
                <form action="/admin/prodc/addProduct" method="get">
                    <button type="submit" class="btn-cancel"><%= @lang.create %></button>
                </form>
            <% end %>
        </div>
        <div class="card__body">
            <table class="table table-striped">
                <thead>
                    <tr>             
                        <th><%= @lang.name %></th>           
                        <th><%= @lang.category %></th>
                        <th><%= @lang.maker %></th>
                        <th><%= @lang.weight %></th>
                        <th><%= @lang.price %></th>
                        <th><%= @lang.total %></th>
                        <th><%= @lang.photo %></th>
                    </tr>
                </thead>
                <tbody>    
                    <% for object in @table : %>
                    <% if @datauser.role == 'manager' : %> 
                        <tr id="/admin/prodc/addProduct?id=<%- object.id %>"> 
                    <% end %>
                    <% if @datauser.role != 'manager' : %>  
                        <tr>
                    <% end %>
                            <TD><%- object.name %></TD>
                            <TD><%- object.category_id %></TD>
                            <TD><%- object.maker %></TD>
                            <TD><%- object.weight %></TD>
                            <TD>$<%- object.price %></TD>
                            <TD><%- object.total %></TD>
                            <% if object.photo : %>  
                                <TD><img src="/uploads/<%- object.photo %>" class="imgUploads"></TD>
                            <% else : %>
                                <TD>Empty</TD>                            
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include 'admin/admin_pagination.ect', { count : @count, page: @page ,arrayList: @arrayList, url: 'prodc' } %>