<nav class="navPagination">
  <ul class="pagination">
  	<% if @page != 1 && @arrayList.length > 0 : %>
      <li class="previous ">
       <a class="" href="<%- @url %>?page=<%- @page-1 %>" >
         <span >&laquo;</span>
       </a>
      </li>
		<% end %>
  	<% if @page == 1 && @arrayList.length > 0  : %>
      <li class="disabled previous ">
        <a class="" tabindex="-1">
          <span>&laquo;</span>
        </a>
      </li>
		<% end %>

    <% for i in @arrayList : %>

      <% if i == '...' : %>
        <li>
          <a class="disabled">...</a>
        </li>
      <% else : %>
        <% if @page == i : %>
          <li>
            <a class="active"><%- i %></a>
          </li>
        <% else : %>
          <li>
            <a href="<%- @url %>?page=<%- i %>"><%- i %></a>
          </li>
        <% end %>
			<% end %>
		<% end %>

  	<% if @page != @count && @arrayList.length > 0 : %>
      <li class="next">
        <a href="<%- @url %>?page=<%- @page+1 %>">
          <span>&raquo;</span>
        </a>
      </li>
		<% end %>
  	<% if @page == @count && @arrayList.length > 0 : %>
      <li class="disabled next">
        <a tabindex="-1">
          <span>&raquo;</span>
        </a>
      </li>
	<% end %>
  </ul>
</nav>