<% extend 'admin/page_admin.ect' %>
<div class="row">
    <div class = "card">
        <div class="card__title">
            <h4>
                <%= @lang.users %>
            </h4>                  
            <form action="/admin/users/addUser" method="get">
                <button type="submit" class="btn-cancel"><%= @lang.create %></button>
            </form>
        </div>
        <div class="card__body">
            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th><%= @lang.mail %></th>
                        <th><%= @lang.fname %></th>
                        <th><%= @lang.lname %></th>
                        <th><%= @lang.dateNewYear %></th>
                        <th><%= @lang.city %></th>
                        <th><%= @lang.photo %></th>
                        <th><%= @lang.role %></th>
                    </tr>
                </thead>
                <tbody>    
                    <% for object in @table : %>
                        <tr id="/admin/users/addUser?id=<%- object.id %>">
                            <TD><%- object.email %></TD>
                            <TD><%- object.firstname %></TD>
                            <TD><%- object.lastname %></TD>
                            <TD><%- object.dateyear %></TD>
                            <TD><%- object.city %></TD>
                            <% if object.photo : %>  
                                <TD><img src="/uploads/<%- object.photo %>" class="imgUploads"></TD>
                            <% else : %>
                                <TD>Empty</TD>                            
                            <% end %>
                            <TD><%- object.role_id %></TD>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include 'admin/admin_pagination.ect', { count : @count, page: @page ,arrayList: @arrayList, url: 'users' } %>