<% extend 'admin/page_admin.ect' %>
<div class="row">
    <div class = "cardAdd">
        <div class="card__title">
            <h4>
                <%= @lang.loginIn %>
            </h4>     
        </div>
        <div class="card__bodyAdd">
            <form action="loginUser" method="post" onsubmit="return checklogin('<%- @langName %>')" class="form-validate">
                <div class="form-group">
                    <label class="required" for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="<%- @lang.inputMail %>">
                </div>
                <div class="form-group">
                    <label class="required" for="password"><%= @lang.password %></label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="<%- @lang.inputPassword %>">
                </div>
                <button type="submit" class="btn-done"><%= @lang.loginInRoom %></button>
            </form>
        </div>
    </div>
</div>