<% extend 'admin/page_admin.ect' %>
<div class="row">
    <div class = "card">
        <div class="card__title">
            <h4>
                <%= @lang.news %>
            </h4> 
            <% if @datauser.role != 'user' : %>                 
                <form action="/admin/news/addNews" method="get">
                    <button type="submit" class="btn-cancel"><%= @lang.create %></button>
                </form>
            <% end %>
        </div>
        <div class="card__body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><%= @lang.name %></th>
                        <th><%= @lang.photo %></th>
                        <th><%= @lang.date %></th>
                    </tr>
                </thead>
                <tbody>    
                    <% for object in @table : %>
                    <% if @datauser.role != 'manager' : %>  
                        <tr id="/admin/news/addNews?id=<%- object.id %>">
                    <% end %>
                            <TD><%- object.name %></TD>
                            <% if object.photo : %>  
                                <TD><img src="/uploads/<%- object.photo %>" class="imgUploads"></TD>
                            <% else : %>
                                <TD>Empty</TD>                            
                            <% end %>
                            <TD><%- object.datewrite %></TD>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include 'admin/admin_pagination.ect', { count : @count, page: @page ,arrayList: @arrayList, url: 'news' } %>