<% extend 'admin/page_admin.ect' %>
<div class="row">
    <div class = "cardAdd">
        <div class="card__title">
            <h4>
                <%= @lang.pageError %>
            </h4>     
        </div>
        <div class="card__bodyAdd">
            <div class="form-group form-error">
                <p><span><%- @error %></span></p>
            </div>
        </div>
    </div>
</div>