<% extend 'admin/page_admin.ect' %>
<div class="row">
    <div class = "card">
        <div class="card__title">
            <h4>
                <%= @lang.comments %>
            </h4>                  
            <form action="/admin/commt/addComment" method="get">
                <button type="submit" class="btn-cancel"><%= @lang.create %></button>
            </form>
        </div>
        <div class="card__body">
            <table class="table table-striped">
                <thead>
                    <tr>           
                        <th><%= @lang.date %></th>    
                        <th><%= @lang.product %></th>
                        <th><%= @lang.user %></th>
                        <th><%= @lang.comment %></th>
                    </tr>
                </thead>
                <tbody>    
                    <% for object in @table : %>
                        <tr id="/admin/commt/addComment?id=<%- object.id %>">
                            <TD><%- object.datewrite %></TD>
                            <TD><%- object.product_id %></TD>
                            <TD><%- object.user_id %></TD>
                            <TD><%- object.commenttext %></TD>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include 'admin/admin_pagination.ect', { count : @count, page: @page ,arrayList: @arrayList, url: 'commt' } %>