<% extend 'admin/page_admin.ect' %>
<% selectedHere = (role,str) -> %>
	<% if role? : %>
		<% if role.role_id == str.id : %>
			selected
		<% end %>
	<% end %>
<% end %>
<div class="modal-overlay closed" id="modal-overlay">
    <div class="modal closed" id="modal">
        <div class = "cardDelete">
            <div class="card__title">
                <h4>
                    <%= @lang.delete %>?                
                </h4>
            </div>
            <div class="card__bodyAdd">            
                <form action="removeUser" method="post">
                    <INPUT type="hidden" name="id" value="<%- @data.id %>">
                    <button type="submit" class="btn-remove delete"><%= @lang.yes %></button>
                </form>
                <button class="btn-cancel" id="close-button"><%= @lang.no %></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class = "cardAdd">
        <div class="card__title">
            <h4>
                <% if @data?.id || @data.id >= 0: %>
                    <%= @lang.editUser %> #<%- @data.id %>  
                </h4>                  
                    <button id="open-button" class="btn-remove"><%= @lang.delete %></button>
                <% else : %>
                    <%= @lang.createUser %>
                </h4>
                <% end %>
            </h4>
        </div>
        <div class="card__bodyAdd">
            <form action="saveUser" method="post" onsubmit="return checkusers('<%- @langName %>')" class="form-validate" enctype="multipart/form-data" id="form">
                <% if @data?.id || @data.id >= 0: %>
                    <input type="hidden" name="id" id="id" value="<%- @data.id %>">
                <% end %>
                <div class="form-group">
                    <label class="required" for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="<%- @lang.inputMail %>" value="<%- @data.email %>" >
                </div>
                <div class="form-group">
                    <label class="required" for="firstname"><%= @lang.fname %></label>
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="<%- @lang.inputFisrtName %>" value="<%- @data.firstname %>" >
                </div>
                <div class="form-group">
                    <label class="required" for="lastname"><%= @lang.lname %></label>
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="<%- @lang.inputLastName %>" value="<%- @data.lastname %>" >
                </div>
                <div class="form-group">
                    <label class="required" for="dateyear"><%= @lang.dateNewYear %></label>
                    <input type="date" id="dateyear" name="dateyear" class="form-control" value="<%- @data.dateyear %>" >
                </div>
                <div class="form-group">
                    <label class="required" for="city"><%= @lang.city %></label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="<%- @lang.inputCity %>" value="<%- @data.city %>" >
                </div>
                <div class="form-group">
                    <label class="required"><%= @lang.photo %></label>
                    <label class="required photo_field" for="photo"><%= @lang.choisePhoto %></label>
                    <label class="required photo_field_delete"><%= @lang.deletePhoto %></label>
                    <input type="file" id="photo" name="photo" class="form-control" value="<%- @data.photo %>" accept="image/x-png,image/gif,image/jpeg">
                    <div class="preview" id="preview">
                        <ol>
                            <li>
                                <p><%= @lang.NoFileUpload %></p>
                            </li>
                        </ol>
                    </div>
                    <input type="hidden" name="photoH" id="photoH" value="<%- @data.photo %>">
                    <!--img src="/uploads/<%- @data.photo %>" class="imgUploads" for="photo"-->
                </div>
                <div class="form-group">
                    <label class="required" for="password"><%= @lang.password %></label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="<%- @lang.inputPassword %>" value="<%- @data.password %>" >
                </div>
                <div class="form-group">
                    <label class="required" for="role_id"><%= @lang.role %></label>
                    <select class="form-control" name="role_id" id="role_id">
                        <% if @roles?.length : %>
                            <% for objects in @roles : %>
                                <option <%- selectedHere @data, objects  %> value="<%- objects.id %>"><%- objects.name %></option>
                            <% end %>				
                        <% else : %>
                            <option value="-1"><%= @lang.noRoles %></option>
                        <% end %>
                    </select>
                </div>
                <button type="button" class="btn-cancel" onclick="window.location='/admin/users';"><%= @lang.back %></button>
                <button type="submit" class="btn-done"><%= @lang.ok %></button>
            </form>
            <input type="hidden" name="lang" id="lang" value="<%- @langName %>">
        </div>
    </div>
</div>   
<script src="/js/js_admin_file_uploads.js"></script>             