<% extend 'admin/page_admin.ect' %>
<div class="modal-overlay closed" id="modal-overlay">
    <div class="modal closed" id="modal">
        <div class = "cardDelete">
            <div class="card__title">
                <h4>
                    <%= @lang.delete %>?                
                </h4>
            </div>
            <div class="card__bodyAdd">            
                <form action="removeNews" method="post">
                    <INPUT type="hidden" name="id" value="<%- @data.id %>">
                    <button type="submit" class="btn-remove delete"><%= @lang.yes %></button>
                </form>
                <button class="btn-cancel" id="close-button"><%= @lang.no %></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class = "cardAdd">
        <div class="card__title">
            <h4>
                <% if @data?.id || @data.id >= 0: %>
                    <%= @lang.editNews %> #<%- @data.id %>  
                    </h4> 
                    <% if @datauser.role != "user": %>               
                        <button id="open-button" class="btn-remove"><%= @lang.delete %></button>
                    <% end %>
                <% else : %>
                    <%= @lang.createNews %>
                </h4>
                <% end %>
            </h4>
        </div>
        <div class="card__bodyAdd">
            <form action="saveNews" method="post" onsubmit="return checknews('<%- @langName %>')" class="form-validate" enctype="multipart/form-data" id="form">
                <% if @data?.id || @data.id >= 0: %>
                    <input type="hidden" name="id" id="id" value="<%- @data.id %>">
                <% end %>
                <div class="form-group">
                    <label class="required" for="name"><%= @lang.nameNews %></label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="<%- @lang.inputName %>" value="<%- @data.name %>" >
                </div>                
                <div class="form-group">
                    <label class="required" for="datewrite"><%= @lang.date %></label>
                    <input type="date" id="datewrite" name="datewrite" class="form-control" value="<%- @data.datewrite %>" >
                </div>   
                <div class="form-group">
                    <label class="required"><%= @lang.photo %></label>
                    <label class="required photo_field" for="photo"><%= @lang.choisePhoto %></label>
                    <label class="required photo_field_delete"><%= @lang.deletePhoto %></label>
                    <input type="file" id="photo" name="photo" class="form-control" value="<%- @data.photo %>" accept="image/x-png,image/gif,image/jpeg">
                    <div class="preview" id="preview">
                        <ol>
                            <li>
                                <p><%= @lang.NoFileUpload %></p>
                            </li>
                        </ol>
                    </div>
                    <input type="hidden" name="photoH" id="photoH" value="<%- @data.photo %>">
                    <!--img src="/uploads/<%- @data.photo %>" class="imgUploads" for="photo"-->
                </div>
                <div class="form-group">
                    <label class="required" for="definition"><%= @lang.definition %></label>
                    <textarea type="text" id="definition" name="definition" class="form-control" placeholder="<%- @lang.inputDefinition %>"><%- @data.definition %></textarea>
                </div>
                <button type="button" class="btn-cancel" onclick="window.location='/admin/news';"><%= @lang.back %></button>
                <button type="submit" class="btn-done"><%= @lang.ok %></button>
            </form>
            <input type="hidden" name="lang" id="lang" value="<%- @langName %>">
        </div>
    </div>
</div>
<script src="/js/js_admin_file_uploads.js"></script>     