<% extend 'admin/page_admin.ect' %>
<% selectedHere = (role,str) -> %>
	<% if role? : %>
		<% if role.category_id == str.id : %>
			selected
		<% end %>
	<% end %>
<% end %>
<div class="modal-overlay closed" id="modal-overlay">
    <div class="modal closed" id="modal">
        <div class = "cardDelete">
            <div class="card__title">
                <h4>
                    <%= @lang.delete %>?                
                </h4>
            </div>
            <div class="card__bodyAdd">            
                <form action="removeProduct" method="post">
                    <INPUT type="hidden" name="id" value="<%- @data.id %>">
                    <button type="submit" class="btn-remove delete"><%= @lang.yes %></button>
                </form>
                <button class="btn-cancel" id="close-button"><%= @lang.no %></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class = "cardAdd">
        <div class="card__title">
            <h4>
                <% if @data?.id || @data.id >= 0: %>
                    <%= @lang.editProduct %> #<%- @data.id %>  
                </h4>
                    <button id="open-button" class="btn-remove"><%= @lang.delete %></button>
                <% else : %>
                    <%= @lang.createProduct %>
                </h4>
                <% end %>
            </h4>
        </div>
        <div class="card__bodyAdd">
            <form action="saveProduct" method="post" onsubmit="return checkproducts('<%- @langName %>')" class="form-validate" enctype="multipart/form-data" id="form">
                <% if @data?.id || @data.id >= 0: %>
                    <input type="hidden" name="id" id="id" value="<%- @data.id %>">
                <% end %>
                <div class="form-group">
                    <label class="required" for="category_id"><%= @lang.category %></label>
                    <select class="form-control" name="category_id" id="category_id">
                        <% if @categs?.length : %>
                            <% for objects in @categs : %>
                                <option <%- selectedHere @data, objects  %> value="<%- objects.id %>"><%- objects.name %></option>
                            <% end %>				
                        <% else : %>
                            <option value="-1"><%= @lang.noCategorys %></option>
                        <% end %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="name"><%= @lang.nameProduct %></label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="<%- @lang.inputName %>" value="<%- @data.name %>" >
                </div>
                <div class="form-group">
                    <label class="required" for="maker"><%= @lang.maker %></label>
                    <input type="text" id="maker" name="maker" class="form-control" placeholder="<%- @lang.inputMaker %>" value="<%- @data.maker %>">
                </div>
                <div class="form-group">
                    <label class="required" for="weight"><%= @lang.weight %></label>
                    <input type="text" id="weight" name="weight" class="form-control" placeholder="<%- @lang.inputWeight %>" value="<%- @data.weight %>">
                </div>
                <div class="form-group">
                    <label class="required" for="price"><%= @lang.price %></label>
                    <input type="text" id="price" name="price" class="form-control" placeholder="<%- @lang.inputPrice %>" value="<%- @data.price %>">
                </div>
                <div class="form-group">
                    <label class="required" for="total"><%= @lang.total %></label>
                    <input type="text" id="total" name="total" class="form-control" placeholder="<%- @lang.inputTotal %>" value="<%- @data.total %>">
                </div>
                <div class="form-group">
                    <label class="required"><%= @lang.photo %></label>
                    <label class="required photo_field" for="photo"><%= @lang.choisePhoto %></label>
                    <label class="required photo_field_delete"><%= @lang.deletePhoto %></label>
                    <input type="file" id="photo" name="photo" class="form-control" value="<%- @data.photo %>" accept="image/x-png,image/gif,image/jpeg">
                    <div class="preview" id="preview">
                        <ol>
                            <li>
                                <p><%= @lang.NoFileUpload %></p>
                            </li>
                        </ol>
                    </div>
                    <input type="hidden" name="photoH" id="photoH" value="<%- @data.photo %>">
                    <!--img src="/uploads/<%- @data.photo %>" class="imgUploads" for="photo"-->
                </div>
                <div class="form-group">
                    <label class="required" for="definition"><%= @lang.definition %></label>
                    <textarea type="text" id="definition" name="definition" class="form-control" placeholder="<%- @lang.inputDefinition %>"><%- @data.definition %></textarea>
                </div>
                <button type="button" class="btn-cancel" onclick="window.location='/admin/prodc';"><%= @lang.back %></button>
                <button type="submit" class="btn-done"><%= @lang.ok %></button>
            </form>
            <input type="hidden" name="lang" id="lang" value="<%- @langName %>">
        </div>
    </div>
</div>
<script src="/js/js_admin_file_uploads.js"></script>     