<% selectedHere = (role,str) -> %>
	<% if role? : %>
		<% if role == str : %>
			selected
		<% end %>
	<% end %>
<% end %>
<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <link href="/css/style_admin.css" type="text/css" rel="stylesheet"/>
        <title>Panel Admin</title>
    </head>
    <body>
        <aside class="leftBar">
            <div class="leftBar__header">
                <div class="logo">
                   <div class="logo-type">
                        <a href="/admin">
                            <span>
                                <span>Hard</span>
                                ware
                            </span>
                        </a>                           
                    </div>
                </div>
            </div>
            <form action="/admin/replaceLang" method="post" class="form-validate">
                <div class="form-group">
                    <select class="form-control" name="lang" id="lang" onchange="this.form.submit()">
                        <option <%- selectedHere @langName, 'ru'  %> value="ru">RU</option>
                        <option <%- selectedHere @langName, 'en'  %> value="en">EN</option>
                    </select>
                </div>
            </form>  
            <div>
                <ul class="menu">
                    <% if @datauser : %>
                        <li class="menu-category"><%= @lang.tables %></li>
                        <ul class="sub-menu">
                            <li class=""><a href="/admin/news"><%= @lang.news %></a></li>
                            <% if @datauser.role == 'admin' : %>
                                <li class=""><a href="/admin/users"><%= @lang.users %></a></li>
                                <li class=""><a href="/admin/roles"><%= @lang.roles %></a></li>
                            <% end %>
                            <li class=""><a href="/admin/categs"><%= @lang.categorys %></a></li>
                            <li class=""><a href="/admin/prodc"><%= @lang.products %></a></li>
                            <li class=""><a href="/admin/commt"><%= @lang.comments %></a></li>
                        </ul>   
                    <% end %>
                </ul>  
            </div>               
        </aside>
        <header>
        <% if @datauser : %>
            <div class="header__user">
                <h3><%= @lang[@datauser.role] %>: <%= @datauser.name %></h3>
            </div>
            <a href="/admin/logout">                            
                <div class="header__out">
                    <span class=""><%= @lang.exit %></span>
                </div> 
            </a>       
        <% end %>
        </header>
        <main>
            <div class="content">              
                <% content %>
            </div>
        </main>
        <script src="/js/js_admin.js"></script>
    </body>
</html>