.abouts
{
    &__heading
    {
        margin: 0;
        font-size: 34px;
        @media (max-width: 480px)
        {
            font-size: 26px;
        }
    }
    &__content
    {
        font-size: 20px;
    }
    &__rte
    {
        margin-top: 15px;
        margin-bottom: 15px;
        color: inherit;
        text-align: center;
        h2
        {
            font-size: 18px;
            margin: 30px 0 15px 0;
            padding: 0 0 15px 0;
            border-bottom: 2px solid rgba(0,0,0,.2);        
        }
        h6 
        {
            font-size: 14px;            
            margin: 30px 0 15px 0;
            padding: 0 0 15px 0;
            border-bottom: 2px solid rgba(0,0,0,.2);
        }
    }
    &__text
    {
        text-align: left;
    }
}