@import "data";
body
{
    top: 0px;
    left: 0px;
    margin: 0;
    background-color: #f7f7f7;   
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}
header 
{
    position: fixed;
    right: 0;
    width: calc(100% - 210px);
    background-color: #c7c7c7;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    z-index: 1000;    
}
.header__user
{
    position: relative;
}
.header__out
{
    padding: 15px;
    font-size: 15px;
    color: black;
    &:hover
    {
        background-color: #7373739e;
        border-color: #7373739e;
        box-shadow: none;
    }
}
.leftBar
{
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 1300;
    background-color: #2a2b34;
    box-shadow: 3px 0 20px rgba(0, 0, 0, 0.25);
    transition: all 600ms;
    &__linkTable
    {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    &__header 
    {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.menu 
{
    position: relative;
    height: 100%;
    li
    {
        padding: 10px 0;
        text-align: center;
        a
        {
            position: relative;
            color: #a8a8a8;
            font-size: 12px;
            font-weight: 400;  
            cursor: pointer;
        }        
        a:hover
        {
            color: white;
        }
    }
}
ul.sub-menu 
{
    position: relative;
    border: 0;
    float: none;
    background-color: #23242c;
    box-shadow: inset 0 -15px 20px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.menu > li.menu-category 
{
    display: block;
    margin-top: 50px;
    color: rgba(177, 176, 176, 0.5);
    font-size: 20px !important;
    font-weight: 500; 
    letter-spacing: 2px; 
}  
ul 
{
    margin: 0px;
    padding: 0px;
}  
.menu > li 
{
    margin-bottom: 20px; 
}
ul li 
{
    list-style: none; 
}
main 
{
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: 150px;
    .content 
    {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
.row 
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px;
}
.card, .cardAdd, .cardDelete
{
    position: relative;
    float: left;
    width: 100%;
	background-color: #e3e3e3;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
	box-shadow: 0px 3px 5px 5px rgba(96, 96, 96, 0.62);
    margin-bottom: 30px;
    border: 0;
    padding-bottom: 0!important;
    flex-direction: column;
    display: flex;
    min-width: 350px;
    &__title
    {
		background: #12121233;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
        padding: 20px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 
        {
            color: #403535;
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            padding: 0;
            line-height: normal;
        }
    }
    &__body
    { 
        padding-bottom: 0!important;   
        padding-top: 0!important;
        position: relative;
        overflow: auto;
    }
    &__bodyAdd
    { 
        position: relative;
        overflow: auto;
        padding: 20px;
    }
}
.cardAdd
{
    width: 100%;
    @include change_Width((100%, 550px, 550px));
    left: 50%;
    transform: translate(-50%);
}
.cardDelete
{
    width: 100%;
	min-width: 100%;
}
.table 
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    th, td 
    {
        padding: 12px 30px;
    }
    td 
    {
        color: rgba(115, 109, 109, 0.9);
    }
    thead tr th
    {
        color: #403535;
        font-weight: 600;
        border: 0;
    }
    &-striped thead tr 
    {
        border-color: transparent;
    }
    &-striped tbody tr 
    {
        border-color: transparent;
    }
    &-striped tbody tr:nth-of-type(odd) 
    {
        background-color: #f7f7f7;
    }
	tbody tr:hover
	{
		background: #47474799;
		cursor:pointer;
		td
		{
			color:white;
		}
	}
}
th 
{
    text-align: inherit;
}
a 
{
    color: #007bff;
    text-decoration: none;
}
.logo .logo-type a 
{
    color: #b1b0b0;
}
.logo .logo-type a span {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    letter-spacing: -0.5px;
}
.logo .logo-type a span > span 
{
    color: #f90a48;
}
.form-control
{
    position: relative;
    padding: 7px 12px;
    border-radius: 3px;
    border-color: #ebebeb;
    color: #b1b0b0;
    line-height: inherit;
    display: block;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}
.btn-done,
.btn-cancel,
.btn-remove,.btn-remove-not
{
    background-color: #146b3678;
    border-color: #146b3678;
    box-shadow: 0 3px 10px #146b3678;
    color: #fff;
    padding: 8px 18px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none!important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    cursor: pointer;
    font-family: inherit;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    float: left;
}
.btn-remove
{
    background-color: #f90a48;
    border-color: #f90a48;
    box-shadow: 0 3px 10px rgba(249, 10, 72, 0.4);
    color: black;
    float: right;
}
.delete
{
    float: left;
}
.btn-remove-not
{
    cursor: auto;   
    background-color: #f90a4870;
    border-color: #f90a4870;
    box-shadow: 0 3px 10px #f90a4870;
    color: black;
    float: right;
}
.btn-remove:hover 
{
    background-color: #fa3266;
    border-color: #fa3266;
    box-shadow: none;
}
.btn-cancel
{ 
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: black;
    float: right;
}
.btn-done:hover 
{
    background-color: #146b36c2;
    border-color: #146b36ad;
    box-shadow: none;
}
.btn-cancel:hover 
{
    background-color: #7373739e;
    border-color: #7373739e;
    box-shadow: none;
}
.form-validate
{    
    float: left;
    width: 100%;
    position: relative;
}
.form-group
{    
    margin-bottom: 20px;
}
.reds 
{
    box-shadow: 0px 0px 0px 1px red;
}
.green 
{
    box-shadow: 0 0 0 1px green; 
}
.error-message 
{
    font-size: 15px;
    color: red; 
}
textarea {
    resize: vertical;
    min-height: 50px;
}
.form-error
{
    background-color: #ff000080;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}
.imgUploads
{
    height: 100px;
}
.photo_field
{
    background-color: #7F9CCB;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    cursor: pointer;
    &:hover
    {
        background-color: #2D5BA3;
        color: white;
    }
    &:active
    {
        background-color: #0D3F8F;
        color: white;
    }
    &_delete
    {
        background-color: #cc7d7d; 
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px ridge black;
        font-size: 0.8rem;
        height: auto;
        cursor: pointer;       
        &:hover
        {
            background-color: #a32d2d;
            color: white;
        }
        &:active
        {
            background-color: #8f0d0d;
            color: white;
        }
    }
}
.preview
{
    p
    {
        line-height: 32px;
        padding-left: 10px;
    }
    img
    {
        height: 100px;
        order: 1;
    }
    li
    {
        background: #eee;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        list-style-type: none;
        border: 1px solid #0000005c;
    }
    ol
    {
        padding-left: 0;
    }
}
.navPagination
{
	position: relative;
}
.pagination
{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin: 0;
	padding: 10px;
    text-align: center;
    li
    {
		display: inline-block;
		list-style: none;
        a
        {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			background-color: #fff;
			text-align: center;
			text-decoration: none;
			color: #252525;
			border-radius: 4px;
			margin: 5px;
			box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
			transition: all .3s ease;
			&:hover,
            &.active
            {
				color: #fff;
                background-color: #ff4242;
            }
            &.disabled
            {
                color: black;               
                background-color: #bababa;
                &:hover,
                &.active
                {
                    color: black;
                }
            }
        }	
        &:first-child
        {
            a
            {
                border-radius: 40px 0 0 40px;
            }
        }                
        &:last-child
        {
            a
            {
                border-radius: 0 40px 40px 0;
            }
        }
    }
}
.modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    z-index: 1010;
    display: flex;
}
.modal-overlay 
{
    position: fixed;
    width: calc(100% - 210px);
    padding-left: 30px;
    padding-right: 30px;
    right: 0;
    height: calc(100% - 56px);
    bottom: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.6);
}
.modal.closed ,.modal-overlay.closed
{
    display: none;
}