html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, input, textarea, button 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none !important;
    vertical-align: top;
    background: transparent;
    font-weight: normal;
    line-height: 1.55em;
}
body 
{
    font: normal 16px "Open Sans";
    color: #3c454e;
    overflow-x: hidden;
}
select, select.form-control, textarea, 
textarea.form-control, input[type="text"], 
input[type="email"], input[type="number"], 
input[type="password"], input[type="telephone"] 
{
    padding: 6px;
    border: 1px solid #c9c9c9;
    font: normal 13px 'Arial';
    font-family: "Open Sans";
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
}
button, html input[type="button"], 
input[type="reset"], input[type="submit"] 
{
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="text"], input[type="email"], 
input[type="number"], input[type="password"], 
input[type="telephone"] 
{
    height: 34px;
    line-height: 18px;
    padding: 7px;
}
.form-group 
{
    margin-bottom: 15px;
}
.form-control:focus
{
    border-color: $color_one_hover;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select:focus, select.form-control:focus, textarea:focus, 
textarea.form-control:focus, input[type="text"]:focus, 
input[type="email"]:focus, input[type="number"]:focus, 
input[type="password"]:focus, input[type="telephone"]:focus 
{
    border-color: #aaa;
}
input[type="radio"], input[type="checkbox"], .form-group 
{
    vertical-align: top !important;
    margin-top: 15px;
    margin-bottom: 0;
}
label 
{
    font-weight: bold;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary 
{
    display: block;
}
ol, ul 
{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 
{
    margin: 15px 0;
    font: bold 34px/1.182em "Open Sans";
    color: #242424;
    text-transform: uppercase;
}
*, *:before, *:after 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a 
{
    color: $color_one;
    text-decoration: none;
    -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a, span 
{
    vertical-align: baseline;
}
b, strong 
{
    font-weight: bold; 
    vertical-align: baseline; 
}
p 
{
    margin: 15px 0;
    padding: 0;
}
header
{
    padding-bottom: 44px;
    background: #3c454e;
    @media (max-width: 640px)    {        padding-bottom: 40px;    }
}
.btn 
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    color: #000000;
    background: $color_one;
    transition: .3s ease-in-out;
}
.btn-big, .btn-big:focus 
{
    position: relative;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #3c454e;
    background: $color_one;
}
.btn-cart, .btn-cart:focus 
{
    font-weight: 400;
    padding-right: 70px;
    text-align: left;
    font-size: 24px;
    color: #000000;
    background: #f9f9f9;
}
.btn-cart:after 
{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 36px;
    font-family: 'FontAwesome';
    content: "\f07a";
    color: $color_one;
    background: #3c454e;
    transition: .3s ease-in-out;
}
.btn:hover, .btn:hover a, .btn-info:hover, .btn-primary:hover 
{
    color: #000000;
    background: #c9c9c9;
}
.btn-cart:hover 
{
    color: #000000;
    background: #f9f9f9;
}
.btn-cart:hover:after 
{
    color: #ffffff;
}
.form-control 
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle; 
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select, select.form-control, textarea, textarea.form-control, 
input[type="text"], input[type="email"], 
input[type="number"], input[type="password"], input[type="telephone"]
 {
    padding: 6px;
    border: 1px solid #c9c9c9;
    font: normal 13px 'Arial';
    font-family: Open Sans;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
}
.form-control.disabled
{   
    background: #3c454e;
    color: white;
}
.row 
{
    margin-right: -15px;
    margin-left: -15px;
}
.row:before, .row:after 
{
    display: table;
    content: " ";
}
.headerTop
{
    padding-bottom: 18px;
    background: #ffffff;
    @media (max-width: 640px)    {        padding-bottom: 14px;    }
    @media (max-width: 767px)    {        text-align: center;    }
}
.container
{
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 767px)       {           padding: 0 15px;    }
    @media (min-width: 768px)       {           width: 750px;       }
    @media (min-width: 992px)       {           width: 970px;       }
    @media (min-width: 1200px)      {           width: 1170px;      }
    &:before,&:after
    {
        display: table;
        content: " ";
    }
    &:after 
    {
        clear: both;
    }
}
.breadcrumb
{
    margin: 40px 0 30px;
    &__list
    {        
        margin: 0px;
        padding: 10px 15px;
        border-radius: 0;
        color: #000000;
        background: $color_one;
        font-size: 20px;
        & > li 
        {
            display: inline-block;
        }
        & > li + li:before 
        {
            padding: 0 5px;
            color: #cccccc;
            content: "/\00a0";
        }
        & a, & > li + li:before 
        {
            color: #000000;
            transition: .5s ease-in-out;
        }
        a:hover 
        {
            text-decoration: underline;
        }
    }
}
img 
{
    max-width: 100%;
}
h2, h3, h4 
{
    font-size: 16px;
}