.account
{
    &__main
    {
        position: relative;
        margin-top: 20px;     
        padding: 30px;
        border: 1px solid #c9c9c9;
        border-top: 2px solid $color_one;
        height: 100%;
        @include colFixed(6);        
        @media (max-width: 767px)
        {
            @include colFixed(12);  
        }
    }
    &__secret
    {
        position: relative;
        margin-top: 20px;     
        padding: 30px;
        border: 1px solid #c9c9c9;
        border-top: 2px solid $color_one;
        height: 100%;
        @include colFixed(5);
        float: right;        
        @media (max-width: 767px)
        {
            @include colFixed(12);  
        }
    }
    &__delete
    {
        position: relative;
        margin-top: 20px;     
        padding: 30px;
        border: 1px solid #c9c9c9;
        border-top: 2px solid $color_one;
        height: 100%;
        @include colFixed(5);   
        float: right;           
        @media (max-width: 767px)
        {
            @include colFixed(12);  
        }
        input
        {
            background: #ff000080;
            &:hover
            {
                background: #c9c9c9;
            }
        }
    }
    &__orders
    {
        position: relative;
        margin-top: 20px;     
        padding: 30px;
        border: 1px solid #c9c9c9;
        border-top: 2px solid $color_one;
        height: 100%;
        @include colFixed(12);
        table
        {
            width: 100%;
            text-align: center;
            thead th:nth-child(odd) 
            {
                color: #ffffff;
                background: #324960;
            }
            thead th
            {
                color: #ffffff;
                background: $color_one;
                font-size: 20px;                
                color: black;
            }
            tr:nth-child(even) 
            {
                background: #F8F8F8;
            }
        }
    }
}
.closed
{
    display: none;
}
.yes
{
    float: left;
}
.no
{
    float: right;
}

.imgUploads
{
    height: 100px;
}
.photo_field
{
    background-color: $color_one;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    cursor: pointer;
    &:hover
    {
        background-color: $color_one_hover;
        color: white;
    }
    &:active
    {
        background-color: $color_one_hover;
        color: white;
    }
    &_delete
    {
        background-color: #cc7d7d; 
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px ridge black;
        font-size: 0.8rem;
        height: auto;
        cursor: pointer;       
        &:hover
        {
            background-color: #a32d2d;
            color: white;
        }
        &:active
        {
            background-color: #8f0d0d;
            color: white;
        }
    }
}
.preview
{
    p
    {
        line-height: 32px;
        padding-left: 10px;
    }
    img
    {
        height: 100px;
        order: 1;
    }
    li
    {
        background: #eee;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        list-style-type: none;
        border: 1px solid #0000005c;
    }
    ol
    {
        padding-left: 0;
    }
}