.collection
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 30px 0 0 0;   
    transform: scale(1);
    padding: 10px;
    transition: 0.2s all;
    &:hover 
    {
        transform: scale(1.03);
        background: #BDB3AE66;
    }
    @include colFixed(6); 
    @media (max-width: 767px)
    {
        margin: 30px 0 0 0;
        height: 500px;
    }
    @media (max-width: 480px)
    {
        @include colFixed(12); 
        height: auto;
    }    
    @media (min-width: 768px)
    {
        @include colFixed(3); 
        height: 350px;
    }  
    @media (min-width: 992px)
    {
        height: 400px;
    }
    @media (min-width: 1200px)
    {
        height: 450px;
    }
    &__img
    {
        @media (max-width: 480px)
        {
            float: left;
            width: 100px;
            margin: 0 15px 0 0;
        }
        a 
        {
            display: block;
            text-align: center;
            padding: 15px;
            background: #ffffff;
            border: 1px solid #c9c9c9;
            transition: .3s ease-in-out;
            @media (max-width: 480px)
            {
                padding: 0px;
            }
        }
    }
    &__info
    {
        overflow: hidden; 
        @media (min-width: 481px)
        {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-right: 20px;
            padding-bottom: 20px;
            overflow: hidden;
        }
        p
        {
            margin: 5px 0 0 0;
            color: $color_one;
            font-size: 20px;
        }
        .btn 
        {
            width: 100%;
            padding: 0;
            font-size: 14px;
        }
    }
    &__name
    {
        margin: 15px 0 0 0;
        @media (max-width: 480px)
        {
            margin: 0px;
        }
        a 
        {
            color: #000000;
            &:hover 
            {
                color: $color_one_hover;
            }
        }
    }
    &__count
    {

    }
}