.comments
{
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #c9c9c9;
    h3
    {
        font-size: 20px;
        margin: 0;
    }
    ul
    {
        li
        {
            margin: 30px 0 0 0;
            padding: 15px;
            background: rgba(0,0,0,.05); 
            min-height: 125px;     
        }
    }
    &__author
    {
        font-size: 18px;
        margin: 0;
        img
        {          
            max-height: 150px;
            float: left;
            margin-right: 10px;
            width: 100px;
        }
        b
        {

        }
    }
    &__date
    {
        float: right;
        &:before 
        {
            content: '\f073';
            margin: 0 5px 0 0;
            font: 18px 'FontAwesome';
        }        
    }
    &__comment
    {
        margin: 10px 0 0 0;
        font-size: 16px;  
    }
    &__reg
    {   
        a 
        {    
            color: #93a3a6;
            &:hover
            {
                color: $color_one_hover;
            }
        }
    }
    &__form
    {
        margin: 30px 0 0 0;
        padding: 30px 0 0 0;
        border-top: 1px solid #c9c9c9;
        h3
        {
            margin: 0;
            font-size: 20px;
        }
        div
        {
            label
            {
                font-size: 18px;    
            }
            textarea
            {
                font-size: 16px; 
                min-height: 100px;   
            }
        }
        button
        {
            margin: 15px 0 0 0;
        }
    }
}