.contact
{    
    &__map
    {
        @include change_Height((280px, 280px, 450px));
        @include change_Width((100%, 70%, 100%));
        
        float: right;
        width: 100%;
        height: 280px;
        position: relative;
        margin: 10px 0px 10px 0px;
    }
    &__numer, &__address
    {            
        font-size: 20px;
        @media (min-width: 1200px) 
        {
            width: 300px;
        }
        margin: 10px 10px 10px 0;
        float: left;
        a
        {            
            color: black;
        }
    }
}