$name-resolution:
(
	sm:	576px,
	md:	768px,
	lg:	1200px,
);

$color1: #e6ce3e;
$color1_hover: #97830e;

$color2:#73e6f3;
$color2_hover: #77c9d3;

$color_one: $color1;
$color_one_hover: $color2_hover;

$color_footer:white;
@import 'mixins';