.about
{
    margin-top: 68px;
    padding: 55px 0 96px;
    background: #3c454e;
    @media (max-width: 767px)
    {
        margin-top: 40px;
    }
    @media (max-width: 991px)
    {
        padding: 40px 0;
    }
    *
    {
        color: #ffffff;
    }
    &__text
    {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;    
        float: none;
        margin-top: 0px;
        h3
        {
            margin-bottom: 50px;
            font-size: 32px;
            letter-spacing: 2px;
            @media (max-width: 991px)
            {
                margin: 0 0 15px;
            }
        }
        p 
        {
            font-size: 18px;
            font-weight: 300;
        }
    }
    &__btn
    {
        position: relative;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #3c454e;
        background: $color_one;
        margin-top: 36px;
        padding: 0 42px;
        font-weight: bold;
        font-size: 18px;
        color: #3c454e;
        @media (max-width: 991px)
        {
            margin-top: 15px;
        }
        &:hover
        {
            background: #c9c9c9;
        }
    }
}