.headerTop__user
{
    float: left;
    margin-top: 22px;
    li 
    {
        margin-right: 44px;
        display: inline-block;
        a 
        {
            font-size: 20px;
            color: #3c454e;
            &:hover 
            {
                color: $color_one_hover;
            }
        }
    }
    @media (max-width: 767px)
    {
        display: inline-block;
        float: none;
    }
}
.headerTop__phone
{
    float: right;
    margin-top: 21px;
    span 
    {
        padding: 0 11px 0 0;
        font-size: 30px;
    }
    h4 
    {
        margin: 0;
        font-size: 18px;
        color: #3c454e;
    }
    span, h4 
    {
        display: inline-block;
    }
    @media (max-width: 767px)
    {
        float: none;
        clear: both;
        text-align: center;
    }
}
.logo_main
{
    float: left;
    margin-top: 43px;
    a
    {
        display: inline-block;
        text-transform: uppercase;
        line-height: 1em;
        @media (max-width: 640px)
        {
            text-align: left;
        }
    } 
    b 
    {
        line-height: 1em;
        display: block;
        font-size: 45px;
        letter-spacing: 5px;
        font-family: 'Montserrat';
        color: $color_one;
        @media (max-width: 640px)
        {
            font-size: 40px;
        }
    }
    span 
    {
        display: block;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: 1em;
        font-size: 14px;
        color: #ffffff;
        @media (max-width: 991px)    
        {       
            text-align: center;   
        }
    }
    @media (max-width: 991px)    
    {       
        text-align: center; 
        float: none;       
        margin-top: 35px;    
    }
}
.headerSearch
{    
    float: right;
    margin: 50px 30px 0 0;
    &__field
    {
        border: none !important;
        height: 50px !important;
        padding: 15px !important;
        width: 100%;
    }
    &__form
    {
        position: relative;
        width: 370px;
        padding-right: 70px;
        background: #ffffff;
        @media (max-width: 991px)
        {
            width: 100%;
        }
        input
        {
            font-size: 20px;
        }
    }
    &__submit
    {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        font-size: 18px;
        width: 50px;
        padding-top: 10px;
        background: $color_one;
        color: #3c454e;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover 
        {
            background: $color_one_hover;
        }
    }
    @media (max-width: 991px)
    {
        float: none;
        clear: both;
        margin: 0;
        padding: 38px 0 0;
    }
}
.megaMenu
{    
    position: relative;
    top: 0px;
    background: #303030;
    height: 70px;
    z-index: 999;
    @media (max-width: 767px)
    {
        height: 50px;
    }    
    &__full
    {   
        @media (max-width: 767px)
        {
            display: none;
        }
        .megaMenu__links
        {
            li 
            {
                float: left;
                a 
                {
                    height: 70px;
                    display: block;
                    margin: 0 64px 0 0;
                    line-height: 70px;
                    position: relative;
                    font-weight: 700;
                    font-size: 18px;
                    color: #ffffff;
                    &:before
                    {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: "";
                        transition: .3s ease-in-out;
                    }
                    &:hover:before, &.active:before 
                    {
                        border-top: 10px solid $color_one;
                    }
                }
            }
        }
    }
    &__min
    {      
        position: relative;  
        @media (min-width: 768px)
        {
            display: none;
        }
        h2
        {
            height: 50px;
            overflow: hidden;            
            margin: 0;            
            padding: 0 25px 0 0;            
            line-height: 50px;            
            white-space: nowrap;            
            text-overflow: ellipsis;            
            cursor: pointer;            
            position: relative;            
            font-weight: 700;            
            font-size: 18px;            
            color: #ffffff;
            i 
            {
                position: absolute;
                right: 0;
                top: 0;
                &:before 
                {
                    content: '\f0fe';
                    font: 20px/50px 'FontAwesome';
                }
                &.active:before
                {    
                    content: '\f146';
                    font: 20px/50px 'FontAwesome';
                }                
            }
        }
        .megaMenu__links
        {
            overflow: hidden;       
            float: left;            
            position: absolute;            
            padding-bottom: 10px;            
            background: #3c454e;            
            width: 100%;
            transform: scaleY(0);
            transition: 0.5s;
            opacity: 0;
            display: block;
            transform-origin: top;
            li 
            {
                position: relative;     
                a 
                {
                    color: #ffffff;
                    display: block;                    
                    padding: 5px 15px;                    
                    font-size: 20px;
                    &:hover, &.active 
                    {
                        color: $color_one;
                    }
                }
            }
            &_show
            {
                transform: scaleY(1);
                opacity: 1;
            }
        }
    }   
}