.content
{
    @media (min-width: 768px)
    {
        @include colFixed(12); 
    }
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    &__heading
    {
        margin: 0;
        font-size: 34px;
        @media (max-width: 480px)
        {
            font-size: 26px;
        }
    }
    &__block
    {
        width: 100%;
        height: 100%;
        display: table;
        margin: 30px 0 0 0;
        @media (max-width: 767px)
        {
            display: block;
            margin: 0;
        }        
    }
    &__forms
    {        
        width: 50%;
        height: 100%;
        display: table-cell;
        position: relative;
        padding: 0 0 0 15px;
        float: left;
        left: 50%;
        transform: translate(-50%);
        @media (max-width: 767px)
        {
            width: 100%;
            height: auto;
            display: block;
            padding: 0;
        }
    }
    &__section
    {        
        margin: 30px 0 0 0;
        padding: 30px;
        border: 1px solid #c9c9c9;
        border-top: 2px solid $color_one;
        width: 100%;
        height: 100%;
        margin: 0;
        @media (max-width: 640px)
        {
            margin: 15px 0 0 0;
            padding: 15px;
        }
        @media (max-width: 767px)
        {
            margin: 30px 0 0 0;
        }
        h4 
        {
            overflow: hidden;
            margin: 0;
            font-size: 16px;
        }
        label 
        {
            line-height: 34px;
        }
    }
}