.sliderWripper
{    
    margin-top: 35px;
    height: 100%;
    position: relative;
    z-index: 1;    
}
.slider
{
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 15px;
    &__item
    {        
        animation-name: fade;
        animation-duration: 1.5s;        
    }
    &__image
    {
        position: absolute;
        left: 0;
        z-index: 8;
        width: 50%;
        height: 100%;
        img
        {
            border: none !important;
            box-shadow: none !important;
            max-width: 80%;
            max-height: 80%;
            top: 50%;
            position: relative;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
    &__prev, &__next
    {
        width: 30px;
        height: 30px;
        display: block;
        vertical-align: top;
        margin: -15px 0 0 0;
        position: absolute;
        top: 50%;
        z-index: 9;
        cursor: pointer;
        color: #3c454e;
    }
    &__prev:before, &__next:before 
    {
        display: block;
        font: 24px/28px 'FontAwesome';
        text-align: center;
    }
    &__prev
    {        
        left: -8px;
    }
    &__next
    {        
        right: -8px;
    }
    &__next:before 
    {
        content: '\f054';
    }
    &__prev:before 
    {
        content: '\f053';
    }
    &__caption
    {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;       
    }
    &__data 
    {
        position: relative;
        display: block;
        max-width: 80%;
        max-height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2
        {
            font-size: 28px;
            @media (max-width: 640px)
            {
                font-size: 15px;
            }
            @media (max-width: 991px)
            {
                margin: 0;
                font-size: 20px;
            }
        }
        .btn 
        {
            width: 100%;
            @media (max-width: 640px)
            {
                margin-top: 15px;
                height: 30px;
                padding-right: 40px;
                padding-left: 10px;
                line-height: 30px;
                font-size: 15px;
            }              
            @media (max-width: 767px)and (min-width:641px) 
            {
                margin-top: 15px;
                height: 45px;
                padding-right: 78px;
                padding-left: 10px;
                line-height: 45px;
                font-size: 20px;
            }
            &::after
            {  
                @media (max-width: 640px)
                {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                }                          
                @media (max-width: 767px ) and (min-width:641px) 
                {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    font-size: 20px;
                }
            }
        }
    }
}
.sliderWripperDots 
{
    max-width: 100%;
    text-align: center;
    bottom: 0;
    position: relative;
    z-index: 10;
    font-size: 0;
    &__item
    {        
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        background: $color_one;
        cursor: pointer;
        span 
        {
            display: none;
        }
    }
    a ~ a 
    {
        margin: 0 0 0 10px;
    }
}
.active,
.sliderWripperDots__item:hover 
{
    background-color: #aaa;
}
.sliderWripperDots__item:hover, .active 
{
    background: #3c454e;
}
.sliderWripperDots__item.active 
{
    background: #3c454e;
    cursor: default;
}
@keyframes fade 
{
    from 
    {
        opacity: .4
    }
    to 
    {
        opacity: 1
    }
}
.showcase
{    
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    &__tittle
    {        
        margin: 0;
        margin-top: 20px;
        font-size: 34px;
        @media (max-width: 480px)
        {
            font-size: 26px;
        }
    }
    &__item
    {
        margin-top: 46px;
        overflow: hidden;
        @media (min-width: 768px)
        {
            @include colFixed(4); 
            text-align: center;
        }   
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        @media (max-width: 767px)
        {
            text-align: center;
        }
        a 
        {
            position: relative;
            display: block;
            transition: .3s ease-in-out;
            &:hover 
            {
                h3 
                {
                    transform: translate(0%,0%);
                }
            }
            @media (max-width: 767px)
            {
                max-width: 100%;
                display: inline-block;
            }
            img 
            {
                max-width: 100%;
            }
            h3 
            {
                padding: 12px 18px 16px;
                text-transform: none;
                font-size: 24px;
                background: #242424;
                color: #ffffff;
                transition: .3s ease-in-out;
                &:hover 
                {
                    background: #303030;
                }
            }
            @media (max-width: 1199px)
            {
                position: static;
                font-size: 20px;
                transform: translate(0%,0%);
            }
            img + h3
            {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0;
                transform: translate(0%,100%);
                @media (max-width: 991px)
                {
                    position: static;
                    transform: translate(0%,0%);
                }
            }
        }
    }
}