@mixin resolutionWindow
{
	left:50%;
	transform: translate(-50%);
	position: absolute;   
	@media (max-width: 575px) 
	{
		width: 100%;
	}
	@each $name, $resolution in $name-resolution 
	{
		@media (min-width: $resolution) 
		{
			width: $resolution;
		}
	}	
	@media (min-width: 1600px) 
	{
		width: 100%;
	}
}
@mixin fullGrid
{	
	@each $name, $resolution in $name-resolution 
	{
		@media (min-width: $resolution) 
		{
			@for $i from 1 through 12
			{
				.col-#{$name}-#{$i} 
				{
					width: percentage($i / 12);
				}
				.offset-#{$name}-#{$i}
				{
					margin-left: percentage($value / 12);
				}
			}
		}
	}
	[class^="col-"]
	{
		float: left;
	}
}
@mixin colFixed($value) 
{
	width: percentage($value / 12);
	float: left;
}
@mixin offsetFixed($value) 
{
	margin-left: percentage($value / 12);
}
@mixin change_Font_Size($mas_value)
{
	@each $name, $resolution in $name-resolution 
	{
		@media (min-width: $resolution) 
		{
			font-size: nth($mas_value, index($name-resolution, ($name $resolution)));
		}
	}
}
@mixin change_Height($mas_value)
{
	@each $name, $resolution in $name-resolution 
	{
		@media (min-width: $resolution) 
		{
			height: nth($mas_value, index($name-resolution, ($name $resolution)));
		}
	}
}
@mixin change_Width($mas_value)
{
	@each $name, $resolution in $name-resolution 
	{
		@media (min-width: $resolution) 
		{
			width: nth($mas_value, index($name-resolution, ($name $resolution)));
		}
	}
}