.newsList
{
    &~& {
        padding: 30px 0 0 0;
        border-top: 1px solid #c9c9c9;
    }
    margin: 30px 0 0 0;
    &__article
    {
    }
    &__title
    {        
        font-weight: normal;
        color: #000000;
        text-transform: none;
        margin: 0;
        font-size: 20px;
        a
        {
            font-weight: 600;
            color: #000000;
            &:hover 
            {
                color: $color_one_hover;
            }
        }        
    }
    &__info
    {
        margin: 15px 0 0 0;        
    }
    &__date
    {
        font-size: 18px;
        &:before 
        {
            content: '\f073';
            margin: 0 5px 0 0;
            font: 18px 'FontAwesome';
        }        
    }
    &__body
    {
        margin: 30px 0;
        img
        {
            max-width: 100%;
            max-height: 200px;
        }
        div
        {
            margin-top: 15px;
            margin-bottom: 15px;
            color: inherit;
            margin: 15px 0 0 0;
            font: normal 20px "Open Sans";
        }
    }
    &__footer
    {
        a
        {

        }
    }
}