.pagination
{
    float: left;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    .pagination__list
    {
        display: flex;
        justify-content: space-between;
    }
    &__item
    {
        list-style-type: none;
        a:link, a:hover, a:visited 
        {
            text-decoration: none;
            color: black;
        }
        a 
        {
            padding: 11px 16px 11px 16px;
            transition: .2s all;
            display: flex;
            color: black;
            &:hover 
            {
                background-color: #ececec;
            }
        }
        border: solid 1px #ececec;
        &_active
        {
            background-color: $color_one;
            a:link, a:hover, a:visited 
            {
                color: black;
                background-color: $color_one;
            }
        }
    }
}
