.main
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px)
    {
        width: 100%;
    }
    &__featuredProducts
    {
        margin-top: 68px;
        @media (max-width: 767px)
        {
            margin-top: 40px;
        }
    }
    &__heading
    {
        margin: 0;
        font-size: 34px;
        @media (max-width: 480px)
        {
            font-size: 26px;
        }
    }
    &__wrapper
    {
        position: relative;
        margin: 0 auto;
        padding: 0;
    }
    &__viewport
    {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: auto !important;
    }
    &__productListing
    {        
        position: relative;
        width: 100% !important;
        margin: 0;
    }
}
.product
{
    transform: scale(1);
    padding: 20px;
    transition: 0.2s all;
    &:hover 
    {
        transform: scale(1.03);
        background: #BDB3AE66;
    }
    @media (max-width: 767px)
    {
        overflow: hidden;
    }
    img 
    {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    @media (max-width: 767px)
    {
        width: 100% !important;
        float: none;
    }
    @media (min-width: 768px)
    {
        @include colFixed(3); 
        min-height: 1px;
        height: 300px;
    }
    @media (min-width: 992px)
    {
        height: 350px;
    }
    @media (min-width: 1200px)
    {
        height: 450px;
    }
    &__img
    {
        margin-bottom: 20px;
        position: relative;
        @media (max-width: 767px)
        {
            width: 120px;
            float: left;
            margin: 0 15px 0 0;
        }
    }
    &__imgChange
    {
        display: block;
        position: relative;
        padding: 10px;
        border: 1px solid #c9c9c9;        
    }
    &__badge
    {
        display: block;
        padding: 5px 10px;
        position: absolute;
        top: 1px;
        z-index: 100;
        background: rgba(0,0,0,.7);
        color: #ffffff;
        &.new
        {
            left: 1px;
        }    
    }
    &__info
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-right: 40px;
        padding-bottom: 20px;
        @media (max-width: 767px)
        {    
            overflow: hidden;
            position: relative;
            bottom: auto;
            width: auto;
            padding: 0;
        }
    }
    &__name
    { 
        min-height: 54px;  
        font-size: 18px;
        color: #000000;
        overflow: hidden;
        @media (max-width: 1199px)
        {
            min-height: 0;
            height: 50px;
            font-size: 15px;
        }
        a 
        {
            color: #000000;
            transition: .3s ease-in-out;
            &:hover 
            {
                color: $color_one_hover;
            }
        }
    }
    &__links
    {
        .btn
        {
            margin-top: 12px;
            width: 100%;
            @media (max-width: 767px)
            {
                min-width: auto;
            }
            @media (max-width: 767px)
            {

            }
            @media (max-width: 1199px)
            {
                height: 40px;
                line-height: 40px;
                padding: 0 50px 0 10px;
                font-size: 15px;
            }
            &:after, &:focus:after 
            {
                @media (max-width: 1199px)
                {
                    height: 40px;
                    line-height: 40px;
                    width: 40px;
                    font-size: 18px;
                }
            }
        }
    }
    &__money
    {
        color: #000000;
    }
}
.productControls
{    
    overflow: hidden;
    margin: 30px 0 0 0;
    padding: 0 10px 10px 10px;
    background: rgba(0,0,0,.1);
    border: 1px solid #c9c9c9;
    @media (max-width: 480px)
    {
        text-align: center;
    }
    @media (max-width: 1199px)
    {
        padding: 0px 7px 10px;
    }
    &__sort
    {        
        float: left;
        margin: 10px 0 0 10px;
        @media (max-width: 1199px)
        {
            margin-left: 5px;
        }
        label 
        {
            margin: 0 4px 0 0;
            line-height: 30px;
            font-size: 20px;
            @media (max-width: 1199px)
            {
                font-size: 18px;
            }
        }
        select 
        {
            width: auto !important;
            height: 30px;
            display: inline-block;
            padding: 5px 4px;
            cursor: pointer;
            font-size: 18px;
        }
    }
    &__count
    {        
        height: 30px;
        float: left;
        margin: 10px 10px 0 0;
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
        font-size: 18px;
        @media (max-width: 480px)
        {
            float: none;
            margin: 10px 0 0 0;
        }
    }
}
.productsListing
{
    position: relative;
    width: 100%;
    float: left;
    margin: 20px 0 20px 0;
}
.category__definition
{    
    a
    {
        color: #3c454e;
        font-size: 20px;
    }
}
.prod
{
    &__image
    {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        @media (min-width: 768px)
        {
            @include colFixed(5);
        }
        @media (min-width: 992px)
        {
            @include colFixed(4);
        }
    }
    &__brd
    {
        width: 370px;
        padding: 4px;
        background: #ffffff;
        border: 1px solid #c9c9c9;
        @media (max-width: 1199px)
        {
            width: 302px;
        }
        @media (max-width: 991px)
        {
            width: 290px;
            position: relative;
        }
        @media (max-width: 767px)
        {
            margin: 0 auto;
        }
        img
        {
            width: 360px !important;
            height: auto !important;
            position: relative !important;
            background: rgba(0,0,0,.05);
            @media (max-width: 1199px)
            {
                width: 292px !important;
                height: auto !important;
                position: relative !important;
            }
            @media (max-width: 991px)
            {
                width: 280px !important;
                height: auto !important;
                position: relative !important;
            }
        }
    }
    &__info
    {        
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        @media (min-width: 768px)
        {
            @include colFixed(7);
        }
        @media (min-width: 992px)
        {
            @include colFixed(8);
        }
    }
    &__wpar
    {
        display: table;
        @media (max-width: 991px)
        {
            display: block;
        }
    }
    &__left
    {
        width: 500px;
        display: table-cell;
        padding: 0 20px 0 0;
        @media (max-width: 991px)
        {
            width: 100%;
            display: block;
            padding: 0;
        }
        @media (max-width: 1199px)
        {
            width: 376px;
        }
    }
    &__name
    {
        font-size: 20px;
        font-weight: 900;
        color: #000000;
        @media (max-width: 767px)
        {
            padding: 30px 0 0 0;
        }
    }
    &__details
    {
        margin: 15px 0 0 0;
        padding: 5px 0 0 0;
        border-top: 1px solid #c9c9c9;
    }
    &__item
    {
        margin: 10px 0 0 0;
        font-size: 18px;
        line-height: 1.5em;
        color: $color_one;
        label
        {
            font-weight: normal;
            line-height: 1.5em;
            color: #000000;
        }
        a
        {
            color: $color_one;
            text-decoration: underline;
        }
        span
        {
            color: #000000;
        }
    }
    &__right
    {
        width: 270px;
        display: table-cell;
        padding: 0 0 0 20px;
        border-left: 1px solid #c9c9c9;
        @media (max-width: 991px)
        {
            width: 100%;
            display: block;
            margin: 15px 0 0 0;
            padding: 15px 0 0 0;
            border: none;
            border-top: 1px solid #c9c9c9;
        }
        @media (max-width: 1199px)
        {
            width: 260px;
        }
    }
    &__price
    {
        position: relative;
        p
        {
            margin: 0;
            padding: 0 60px 0 0;
            span
            {
                color: #000000;
                margin: 0 7px 0 0;
                font-size: 20px;
                font-weight: 800;
            }
        }
    }
    &__count
    {
        margin: 10px 0 0 0;
        font-size: 18px;
        line-height: 1.5em;
        color: $color_one;
        margin: 15px 0 0 0;
        label
        {
            font-weight: normal;
            line-height: 1.5em;
            color: #000000;
        }
        span
        {
            color: $color_one;              
        }
    }
    &__shop
    {
        margin: 15px 0 0 0;
        button
        {
            height: 50px;
            margin: 10px 10px 0 0;
            padding: 0px 50px 0 10px;
            font-size: 13px;
            position: relative;
            min-width: 0;
            &:after 
            {
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                width: 40px;
            }
        }
    }
    &__description
    {
        font-size: 18px;
        h3
        {
            margin: 40px 0 0 0;
            font-size: 20px;
        }
    }
}