<% extend 'main/main_page.ect' %>  
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.about %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">                        
                        <div class = "abouts">
                            <div class="abouts__header">
                                <h1 class="abouts__heading"><%= @lang.about %></h1>
                            </div>
                            <div class="abouts__content">
                                <div class="abouts__rte">
                                    <h2><%= @lang.about %></h2>
                                    <p>
                                        <strong><%= @lang.about1 %></strong>
                                    </p>
                                    <p class = "abouts__text">
                                        <%= @lang.about2 %>
                                    </p>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2>14500</h2>
                                                    <h6><%= @lang.aboutT1 %></h6>
                                                </td>
                                                <td>
                                                    <h2>81%</h2>
                                                    <h6><%= @lang.aboutT2 %></h6>
                                                </td>
                                                <td>
                                                    <h2>10 mlns</h2>
                                                    <h6><%= @lang.aboutT3 %></h6>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<% block "title" : %>
	<TITLE><%= @lang.about %></TITLE>
<% end %>