<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.acc %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">
                        <div class = "account">
                            <div class = "account__main">
                                <form method = "post" action = "/editUserMain" id="form" onsubmit="return checkusers('<%- @langName %>')" enctype="multipart/form-data">
                                    <h4><%= @lang.MainData %></h4>
                                    <input type="hidden" value = "<%= @datauser.id %>" name="user[id]">
                                    <div class="form-group">
                                        <label class="required"><%= @lang.photo %></label>
                                        <label class="required photo_field" for="photo"><%= @lang.choisePhoto %></label>
                                        <label class="required photo_field_delete"><%= @lang.deletePhoto %></label>
                                        <input type="file" id="photo" name="user[photo]" class="form-control" value="<%- @user.photo %>" accept="image/x-png,image/gif,image/jpeg">
                                        <div class="preview" id="preview">
                                            <ol>
                                                <li>
                                                    <p><%= @lang.NoFileUpload %></p>
                                                </li>
                                            </ol>
                                        </div>
                                        <input type="hidden" name="user[photoH]" id="photoH" value="<%- @user.photo %>">
                                        <!--img src="/uploads/<%- @user.photo %>" class="imgUploads" for="photo"-->
                                    </div>
                                    <div class="form-group">
                                        <label for="user_lname" class="control-label"><%= @lang.lastName %></label>
                                        <input type="text" value = "<%- @user.lastname %>" name="user[lname]" id="user_lname" class="form-control">
                                    </div> 
                                    <div class="form-group">
                                        <label for="user_fname" class="control-label"><%= @lang.firstName %></label>
                                        <input type="text" value = "<%- @user.firstname %>" name="user[fname]" id="user_fname" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_city" class="control-label"><%= @lang.city %></label>
                                        <input type="text" value = "<%- @user.city %>" name="user[city]" id="user_city" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_dob" class="control-label"><%= @lang.dob %></label>
                                        <input type="date" value = "<%- @user.dateyear %>" name="user[dob]" id="user_dob" class="form-control">
                                    </div>                                    
                                    <div class="form-group">
                                        <label for="user_email" class="control-label"><%= @lang.email %></label>
                                        <input type="email" readOnly="true" value = "<%- @user.email %>" id="user_email" class="form-control disabled">
                                    </div>
                                    <div class="form-group">
                                        <input class="btn" type="submit" value="<%= @lang.saveData %>">
                                    </div>
                                </form>
                                <input type="hidden" name="lang" id="lang" value="<%- @langName %>">
                            </div>
                            <div class = "account__secret">
                                <form method = "post" action = "/editPasswordUser">
                                    <h4><%= @lang.ChangePassData %></h4>
                                    <input type="hidden" value = "<%= @datauser.id %>" name="user[id]">
                                    <div class="form-group">
                                        <label for="user_password_old" class="control-label"><%= @lang.oldPass %></label>
                                        <input type="password" value="" name="user[oldPassword]" id="user_password_old" class="form-control">
                                    </div> 
                                    <div class="form-group">
                                        <label for="user_password_new" class="control-label"><%= @lang.newPass %></label>
                                        <input type="password" value="" name="user[newPassword]" id="user_password_new" class="form-control">
                                    </div> 
                                    <div class="form-group">
                                        <input class="btn" type="submit" value="<%= @lang.changeData %>">
                                    </div>
                                </form>
                            </div>
                            <div class = "account__delete">
                                <div class="account__question" id="modalquest">
                                    <h4><%= @lang.DeleteData %>?</h4>
                                    <div class="form-group">
                                        <input class="btn" type="submit" value="<%= @lang.delete %>" id="delete">
                                    </div>
                                </div>
                                <div class="account__action closed" id="modelaction">
                                    <form method = "post" action = "/deleteUser">
                                        <h4><%= @lang.DeleteData %>?</h4>
                                        <input type="hidden" value = "<%= @datauser.id %>" name="user[id]">
                                        <div class="form-group yes">
                                            <input class="btn" type="submit" value="<%= @lang.yes %>">
                                        </div>
                                    </form>
                                    <div class="form-group no">
                                        <input class="btn" type="submit" value="<%= @lang.no %>" id="no">
                                    </div>
                                </div>
                            </div>
                            <div class = "account__orders">
                                <h4><%= @lang.lastOrders %></h4>                        
                                <table>
                                <thead>
                                    <tr>
                                        <th><%= @lang.date %></th>
                                        <th><%= @lang.product %></th>
                                        <th><%= @lang.price %></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <% if @orders.length : %>
                                            <% for object in @orders : %>
                                                <tr>
                                                    <td><%- object.datebuy %></td>
                                                    <td><%- object.name %></td>
                                                    <td><%- object.price %></td>
                                                </tr>
                                            <% end %>   
                                        <% else : %>  
                                            <tr>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>         
                                        <% end %>                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>

        <script src="/js/js_admin_file_uploads.js"></script> 
        <script src="/js/cabinet.js"></script>
<% block "title" : %>
	<TITLE><%= @lang.acc %></TITLE>
<% end %>