<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.catalog %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">
                        <% for object in @categorys : %>
                            <div class = "collection">
                                <div class="collection__img">
                                    <a href="/products/<%- object.shortlink %>">                                    
                                        <% if object.photo : %>	
                                            <img src="/uploads/<%= object.photo %>"> 
                                        <% else : %> 
                                            <img src="/uploads/no-image.png"> 
                                        <% end %>
                                    </a>
                                </div>                    
                                <div class="collection__info">
                                    <h4 class="collection__name">
                                        <a href="/products/<%- object.shortlink %>"><%= object.name %> (<%= object.countprod %>)</a>
                                    </h4>                    
                                    <a class="btn" href="/products/<%- object.shortlink %>"><%= @lang.viewProducts %></a>
                                </div>
                            </div>
                        <% end %>
                    <% include 'main/pagination.ect', { count : @count, page: @page ,arrayList: @arrayList} %>                        
                    </div>
                </div>
            </div>
        </div>

<% block "title" : %>
	<TITLE><%= @lang.catalog %></TITLE>
<% end %>