<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.contacts %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">
                        <h1 class="content__heading"><%= @lang.contacts %></h1>
                        <div class = "contact__map" id = "map"></div>
                        <div class = "contact__numer">
                            <a><%= @lang.nomers %>:</a>
                            <br/>
                            <br/>
                            <a>+ 375-25-672-55-12</a>
                            <br/>
                            <a>+ 375-33-934-12-13</a>
                        </div>
                        <div class = "contact__address">
                            <a><%= @lang.addres %>:</a>
                            <br/>
                            <br/>
                            <a>г. Витебск,</a>
                            <br/>
                            <a>пр-т. Московский, 33  </a>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>        
        <script async defer
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGk81xoMz40Is3kLU5umAY8AdxgxQvaok&callback=initMap">
        </script>

<% block "title" : %>
	<TITLE><%= @lang.contacts %></TITLE>
<% end %>
