<% extend 'main/main_page.ect' %>  
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.error %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">                        
                        <div>
                            <div class = "content__block">
                                <div class = "content__forms">
                                    <div class = "content__section">
                                        <form method = "get" action = "/">
                                            <h4>Ошибка</h4>
                                            <div class="form-group">
                                                <p><span><%- @error %></span></p></div>
                                            <div class="form-group">
                                                <input class="btn" type="submit" value="<%= @lang.main %>">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<% block "title" : %>
	<TITLE><%= @lang.error %></TITLE>
<% end %>