<% extend 'main/main_page.ect' %>
<div class = "container">

	<% if @slider : %>	
		<div class = "sliderWripper">
			<div class="slider">
                <% for object in @slider : %>
					<div class="slider__item">
						<a class = "slider__image" href="/viewing/<%- object.id %>">
							<% if object.photo : %>	
                                <img src="/uploads/<%= object.photo %>"> 
                            <% else : %> 
                                <img src="/uploads/no-image.png"> 
                            <% end %>
						</a>
						<div class="slider__caption">
							<a class ="slider__data" href="/viewing/<%- object.id %>">
								<h2><%- object.name %></h2>
								<div class = "btn btn-big btn-cart">
									$<%- object.price %>  
								</div>
							</a>
						</div>
					</div>   
    			<% end %>                         
				<a class="slider__prev" onclick="minusSlide()"></a>
				<a class="slider__next" onclick="plusSlide()"></a>
			</div>                            
			<div class="sliderWripperDots">
				<div class = "container">
					<a class="sliderWripperDots__item" onclick="currentSlide(1)">
						<span>1</span>
					</a> 
					<a class="sliderWripperDots__item" onclick="currentSlide(2)">
						<span>2</span>
					</a> 
					<a class="sliderWripperDots__item" onclick="currentSlide(3)">
						<span>3</span>
					</a> 
				</div>
			</div>
		</div>
    <% end %>
	
	<% if @categorys.length == 3 : %>	  
		<div class="showcase">
			<div class="row">
				<div>
					<h4 class="showcase__tittle"><%= @lang.popularCateg %></h4>
					<% for object in @categorys : %>
						<div class="showcase__item">
							<a href="/products/<%- object.shortlink %>">
								<% if object.photo : %>	
									<img src="/uploads/<%= object.photo %>"> 
								<% else : %> 
									<img src="/uploads/no-image.png"> 
								<% end %>
								<h3><%= object.name %></h3>
							</a>
						</div> 
					<% end %>
				</div>
			</div>
		</div>
    <% end %>
</div>
<% if @products : %>
<div role="main">                
			<div class = "container"> 
				<div class = "row">
					<div class = "main">
						<div class = "main__featuredProducts">
							<h2 class = "main__heading"><%= @lang.newProductsMain %></h2>
							<div class = "main__wrapper">
								<div class = "main__viewport">
									<div class = "main__productListing">

										<% for object in @products : %>
											<div class="product">
												<div class="product__img">
													<a class="product__imgChange" href="/viewing/<%- object.id %>">
														<% if object.photo : %>	
															<img src="/uploads/<%= object.photo %>"> 
														<% else : %> 
															<img src="/uploads/no-image.png"> 
														<% end %>
														<span class="product__badge new"><%= @lang.new %></span>   
													</a>
												</div>
												<div class="product__info">
													<div class="product__name">
														<a href="/viewing/<%- object.id %>"><%- object.name %></a>
													</div>
													<div class="product__links">
														<a class="btn btn-big btn-cart" href="/viewing/<%- object.id %>" title="Choose options">
															<span class="product__money">$<%- object.price %></span>
														</a>
													</div>
												</div>
											</div>
										<% end %>  

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <% end %>
<% block "title" : %>
	<TITLE><%= @lang.main %></TITLE>
<% end %>