<% extend 'main/main_page.ect' %>        
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.signIn %></span>
                    </li>                        
                </ul>
            </div>
        </div>
        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">
                        <div>
                            <div class = "content__block">
                                <div class = "content__forms">
                                    <div class = "content__section">
                                        <form method = "post" action = "/login">
                                            <h4><%= @lang.signIn %></h4>
                                            <div class="form-group">
                                                <label for="user_email" class="control-label"><%= @lang.email %></label>
                                                <input type="email" value="" name="user[email]" id="user_email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="user_password" class="control-label"><%= @lang.password %></label>
                                                <input type="password" value="" name="user[password]" id="user_password" class="form-control">
                                            </div> 
                                            <div class="form-group">
                                                <input class="btn" type="submit" value="<%= @lang.signIn %>">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>

<% block "title" : %>
	<TITLE><%= @lang.signIn %></TITLE>
<% end %>