<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <link href="/css/style.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/js/js.js"></script>
		<% content "title" %>
    </head>
    <body>
		<header>
			<div class= "headerTop">
				<div class = "container">
					<ul class = "headerTop__user">
						<% if @datauser : %>							
							<li>
								<a href="/cabinet"><%= @datauser.name %></a>
							</li>
							<li>
								<a href="/logout"><%= @lang.logout %></a>
							</li>      
						<% else : %>
							<li>
								<a href="/login"><%= @lang.signIn %></a>
							</li>
							<li>
								<a href="/registration"><%= @lang.registration %></a>
							</li>      
						<% end %>
						<li>
							<% if @langName == "ru" : %>  
								<a href="/replaceLang/en">EN</a>
							<% else : %>  
								<a href="/replaceLang/ru">RU</a>   
							<% end %>
						</li>
					</ul>
					<div class = "headerTop__phone">
						<span class="fa fa-phone"></span>
						<h4>+375 33 383 0021</h4>
					</div>
				</div>
			</div>                
			<div class = "container">
				<div class="logo_main">
					<a href="/">                    
						<b>Hardware</b>                        
						<span>online store</span>
					</a>
				</div>
				<div class="headerSearch">
					<form action="/search" method="get" class="headerSearch__form">
						<input class="headerSearch__field" name="q" type="text" placeholder="">
						<button class="headerSearch__submit" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</header>
		<div class = "megaMenu">
			<div class = "container">
				<div class = "megaMenu__full">
					<ul class = "megaMenu__links">
						<li><a href="/"><%= @lang.main %></a></li>
						<li><a href="/catalog"><%= @lang.catalog %></a></li>
						<li><a href="/news"><%= @lang.news %></a></li>
						<li><a href="/contacts"><%= @lang.contacts %></a></li>
						<li><a href="/about"><%= @lang.about %></a></li>
					</ul>
				</div>
				<div class = "megaMenu__min">
					<h2 onclick = "myFunction()">Hardware <i id = "i"></i></h2>
					<ul class = "megaMenu__links" id="menuItems">
						<li><a href="/"><%= @lang.main %></a></li>
						<li><a href="/catalog"><%= @lang.catalog %></a></li>
						<li><a href="/news"><%= @lang.news %></a></li>
						<li><a href="/contacts"><%= @lang.contacts %></a></li>
						<li><a href="/about"><%= @lang.about %></a></li>
					</ul>
				</div>
			</div>
		</div>
        <% content %>
		<div class = "about">
			<div class = "container">
				<div class="row">
				<div class = "about__text">
						<h3><%= @lang.about %></h3>
						<p><%= @lang.aboutMain %></p>
						<a class="about__btn btn" href="/about"><%= @lang.learnMore %></a>
					</div>
				</div>
			</div>
		</div>           
    </body>
</html>