<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li> 
                    <li>
                        <a href="/news"><%= @lang.news %></a>
                    </li>
                    <li>
                        <span><%- @news.name %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">
                        <div class = "prod__image">
                            <div class = "prod__brd">
                                <% if @news.photo : %>	
                                    <img src="/uploads/<%= @news.photo %>"> 
                                <% else : %> 
                                    <img src="/uploads/no-image.png"> 
                                <% end %>                                
                            </div>
                        <div class="article__info">
                            <span class="newsList__date"><%= @news.datewrite %></span>
                        </div>	
                        </div>                        
                    </div>
                </div>
                <div class = "content">
                    <div class="prod__description">
                        <% if @news.definition : %>	
                            <h3><%= @lang.description %></h3>
                            <div>
                                <p>
                                    <%- @news.definition %> 
                                </p>
                            </div>
                        <% end %>  
                    </div>
                </div>
            </div>
        </div>   
<% block "title" : %>
	<TITLE><%= @lang.news %>: <%- @news.name %></TITLE>
<% end %>
