<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.news %></span>
                    </li>                        
                </ul>
            </div>
        </div>
		<div role="main">                
			<div class = "container"> 
				<div class = "row">
					<div class = "content">
	                    <h1 class="page_heading"><%= @lang.news %></h1>
                        <% for object in @news : %>
                            <div class="newsList">
                                <div class="newsList__article">
                                    <h3 class="newsList__title">
                                        <a href="/news/<%= object.id %>"><%= object.name %></a>
                                    </h3>
                                    <div class="article__info">
                                        <span class="newsList__date"><%= object.datewrite %></span>
                                    </div>		
                                    <div class="newsList__body">
                                        <a href="/news/<%= object.id %>">
                                            <% if object.photo : %>	
                                                <img src="/uploads/<%= object.photo %>"> 
                                            <% else : %> 
                                                <img src="/uploads/no-image.png"> 
                                            <% end %>
                                        </a>
                                        <div class="newsList__content">
                                            <%- object.definition %> ...
                                        </div>
                                    </div>
                                    <div class="newsList__footer">
                                        <a class="btn" href="/news/<%= object.id %>"><%= @lang.learnMore %></a>
                                    </div>
                                </div>
                            </div>
                        <% end %>  
                    </div>
                    <% include 'main/pagination.ect', { count : @count, page: @page ,arrayList: @arrayList} %>
                </div>
            </div>
        </div>

<% block "title" : %>
	<TITLE><%= @lang.news %></TITLE>
<% end %>