<% if @count > 1 : %>
	<div class="pagination">
		<ul class="pagination__list">
			<% if @page != 1 && @arrayList.length > 0 : %>
				<li class="pagination__item ">				
					<% if @sort : %>
						<a class="" href="?sort=<%- @sort %>&page=<%- @page-1 %>" >
					<% else : %>
						<a class="" href="?page=<%- @page-1 %>" >
					<% end %>
						<span >&laquo;</span>
					</a>
				</li>
			<% end %>
			<% if @page == 1 && @arrayList.length > 0  : %>
				<li class="pagination__item pagination__item_active">
					<a tabindex="-1">
						<span>&laquo;</span>
					</a>
				</li>
			<% end %>

			<% for i in @arrayList : %>		
				<% if i == '...' : %>
					<li>
						<a class="disabled">...</a>
					</li>
				<% else : %>
					<% if @page == i : %>
						<li class="pagination__item pagination__item_active">
							<a><%- i %></a>
						</li>
					<% else : %>
						<li class="pagination__item">										
							<% if @sort : %>
								<a class="" href="?sort=<%- @sort %>&page=<%- i %>" >
							<% else : %>
								<a class="" href="?page=<%- i %>" >
							<% end %>
								<%- i %>
							</a>
						</li>
					<% end %>
				<% end %>
			<% end %>

			<% if @page != @count && @arrayList.length > 0 : %>
				<li class="pagination__item">
					<% if @sort : %>
						<a class="" href="?sort=<%- @sort %>&page=<%- @page+1 %>" >
					<% else : %>
						<a class="" href="?page=<%- @page+1 %>" >
					<% end %>
						<span>&raquo;</span>
					</a>
				</li>
			<% end %>

			<% if @page == @count && @arrayList.length > 0 : %>
				<li class="pagination__item pagination__item_active">
					<a tabindex="-1">
						<span>&raquo;</span>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>