<% extend 'main/main_page.ect' %>
<% selectedHere = (role,str) -> %>
	<% if role? : %>
		<% if role == str : %>
			selected
		<% end %>
	<% end %>
<% end %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <a href="/catalog"><%= @lang.catalog %></a>
                    </li>  
                    <li>
                        <span><%- @category %></span>
                    </li>                        
                </ul>
            </div>
        </div>

		<div role="main">                
			<div class = "container"> 
				<div class = "row">
					<div class = "content">
                        <h2 class="content__heading"><%- @category %></h2>
                        <form action="" method="get">    
                            <div class="productControls">
                                <div class="productControls__sort">
                                    <label><%= @lang.sort %></label>                      
                                    <select id="sort" class="form-control" name="sort" onchange="this.form.submit()">
                                        <option value="name_asc"   <%- selectedHere @sort, 'name_asc' %>>Name: A-Z</option>
                                        <option value="name_desc"  <%- selectedHere @sort, 'name_desc' %>>Name: Z-A</option>
                                        <option value="price_asc"  <%- selectedHere @sort, 'price_asc' %>>Price: Low to High</option>
                                        <option value="price_desc" <%- selectedHere @sort, 'price_desc' %>>Price: High to Low</option>
                                    </select> 
                                </div>   
                            </div>
                        </form> 
                        <div class = "productsListing">
                            <% for object in @products : %>
                                <div class="product">
                                    <div class="product__img">
                                        <a class="product__imgChange" href="/viewing/<%- object.id %>">
                                            <% if object.photo : %>	
                                                <img src="/uploads/<%= object.photo %>"> 
                                            <% else : %> 
                                                <img src="/uploads/no-image.png"> 
                                            <% end %>
                                        </a>
                                    </div>
                                    <div class="product__info">
                                        <div class="product__name">
                                            <a href="/viewing/<%- object.id %>"><%- object.name %></a>
                                        </div>
                                        <div class="product__links">
                                            <a class="btn btn-big btn-cart" href="/viewing/<%- object.id %>">
                                                <span class="product__money">$<%- object.price %></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <% end %>  
                        </div>
                        
                        <% include 'main/pagination.ect', { count : @count, page: @page ,arrayList: @arrayList, sort : @sort} %>
                        <div class="productControls">
                            <p class="productControls__count">
                               <%- @lang.countProducts %>: <%- @page %>/<%- @count %>
                            </p>     
                        </div>                        
                        <div class="category__definition">
                            <a><%= @category_definition %></a>
                        </div>
                    </div>
				</div>
			</div>
		</div>

<% block "title" : %>
	<TITLE><%= @lang.category %>: <%- @category %></TITLE>
<% end %>