<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li>  
                    <li>
                        <span><%= @lang.search %></span>
                    </li>   
                    <li>
                        <span><%= @searchw %></span>
                    </li>                       
                </ul>
            </div>
        </div>

		<div role="main">                
			<div class = "container"> 
				<div class = "row">
					<div class = "content">
                        <div class = "productsListing">
                            <% for object in @products : %>
                                <div class="product">
                                    <div class="product__img">
                                        <a class="product__imgChange" href="/viewing/<%- object.id %>">
                                            <% if object.photo : %>	
                                                <img src="/uploads/<%= object.photo %>"> 
                                            <% else : %> 
                                                <img src="/uploads/no-image.png"> 
                                            <% end %>
                                        </a>
                                    </div>
                                    <div class="product__info">
                                        <div class="product__name">
                                            <a href="/viewing/<%- object.id %>"><%- object.name %></a>
                                        </div>
                                        <div class="product__links">
                                            <a class="btn btn-big btn-cart" href="/viewing/<%- object.id %>">
                                                <span class="product__money">$<%- object.price %></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <% end %>     
                        </div>
                        <% include 'main/pagination.ect', { count : @count, page: @page ,arrayList: @arrayList} %>
                        <div class="productControls">
                            <p class="productControls__count">
                               <%- @lang.countProducts %>: <%- @page %>/<%- @count %>
                            </p>     
                        </div>
                    </div>
				</div>
			</div>
		</div>

<% block "title" : %>
	<TITLE><%= @lang.search %>: <%= @searchw %></TITLE>
<% end %>