<% extend 'main/main_page.ect' %>
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb__list">
                    <li>
                        <a href="/" title="Back to the frontpage"><%= @lang.main %></a>
                    </li> 
                    <li>
                        <a href="/catalog"><%= @lang.catalog %></a>
                    </li>  
                    <li>
                        <a href="/products/<%- @product.shortlink %>"><%= @product.namecateg %></a>
                    </li>  
                    <li>
                        <span><%- @product.name %></span>
                    </li>                        
                </ul>
            </div>
        </div>

        <div role = "main">
            <div class = "container">
                <div class = "row">
                    <div class = "content">
                        <div class = "prod__image">
                            <div class = "prod__brd">
                                <% if @product.photo : %>	
                                    <img src="/uploads/<%= @product.photo %>"> 
                                <% else : %> 
                                    <img src="/uploads/no-image.png"> 
                                <% end %>                                
                            </div>
                        </div>
                        <div class = "prod__info">
                            <div class = "prod__wpar">
                                <div class="prod__left">
                                    <div class="prod__name">
                                        <%= @product.name %>
                                    </div>
                                    <div class="prod__details">
                                        <p class="prod__item">
                                            <label for=""><%= @lang.category %>:</label> 
                                            <a href="/products/<%- @product.shortlink %>"><%= @product.namecateg %></a>
                                        </p>
                                        <p class="prod__item">
                                            <label for=""><%= @lang.maker %>:</label> 
                                            <span><%= @product.maker %></span>
                                        </p>
                                        <p class="prod__item">
                                            <label for=""><%= @lang.weight %>:</label> 
                                            <span><%= @product.weight %> кг</span>
                                        </p>
                                    </div>
                                </div>
                                <div class = "prod__right">
                                    <div class = "prod__price">
                                        <p>
                                            <span>$<%- @product.price %></span>
                                        </p>
                                    </div>
                                    <p class="prod__count">
                                        <label for=""><%= @lang.total %>:</label> 
                                        <span><%- @product.total %></span>
                                    </p>
                                    <div class = "prod__shop">     
						                <% if @datauser && @product.total > 0 : %>
                                            <form method = "post" action = "/buyProduct">
                                                <input type="hidden" value = "<%= @datauser.id %>" name="product[user_id]">
                                                <input type="hidden" value = "<%= @product.id %>" name="product[product_id]">
                                                <button class="btn btn-cart" type="submit"><%= @lang.buy %></button>
                                            </form >
                                        <% else : %> 
                                            <%= @lang.buyNot %>
                                            <% if @datauser : %>
                                                <%= @lang.buyNotTotal %>
                                            <% else : %> 
                                                <a href="/login"><%= @lang.buyNotLogin %></a>
                                            <% end %>   
                                        <% end %>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "content">
                    <div class="prod__description">
                        <h3><%= @lang.description %></h3>
                        <div>
                            <p>
                                <% if @product.definition : %>	
                                    <%- @product.definition %>
                                <% else : %> 
                                <% end %>    
                            </p>
                        </div>
                    </div>
                </div>

                <div class = "content">
                    <div id="article_comments">

			            <div class="comments">
				            <h3><%= @lang.comments %></h3>            
                            <ul>                
                                <% for object in @comments : %>					
                                    <li class="comments__item first last ">
                                        <p class="comments__author">
                                        
                                            <% if object.photo : %>	
                                                <img src="/uploads/<%= object.photo %>"> 
                                            <% else : %> 
                                                <img src="/uploads/no-image.png"> 
                                            <% end %>
                                            <b><%= object.name %></b>
                                            <span class="comments__date"><%= object.datewrite %></span>
                                        </p>
                                        <p class="comments__comment"><%= object.commenttext %></p>
                                    </li>
                                <% end %>
				            </ul>   
			            </div>	

                        <% if @datauser : %>
                            <div class="comments__form">
                                <h3><%= @lang.commentsleave %></h3>
                                <form method="post" action="/addComment" accept-charset="UTF-8" class="comment-form">
                                    <input type="hidden" name="comment[user_id]" value="<%- @datauser.id %>">
                                    <input type="hidden" name="comment[product_id]" value="<%- @product.id %>">
                                    <div class="form-group">
                                        <label for="comment"><%= @lang.message %></label>
                                        <textarea class="form-control" id = "comment" name="comment[comment_text]"></textarea>
                                    </div>
                                    <button type="submit" class="btn"><%= @lang.commentPost %></button>
                                </form>
                            </div>    
						<% else : %>
                            <h3 class="comments__reg"><%= @lang.commentReg1 %> <a href="/login"><%= @lang.commentReg2 %></a></h3>    
						<% end %>

                    </div>
                </div>
            </div>
        </div>   
<% block "title" : %>
	<TITLE><%= @lang.productView %>: <%- @product.name %></TITLE>
<% end %>
